body {
    max-width: 900px;
    margin: auto;
    padding: 0px 10px;
}

footer {
    color: #a5a5a5;
}

h1 {
    text-align: center;
}

main {
    border-bottom: 3px double #d5d5d5;
    border-bottom-style: double;
}

main h2 {
    border-bottom: 1px solid black;
}

a#nav-item-current {
    text-decoration-color: black;
    font-weight: bold;
}

a {
    color: black;
    text-decoration-style: dashed;
    text-decoration-color: #d5d5d5;
}

a:hover {
    text-decoration-color: black;
    font-weight: bold;
}

nav a {
    padding: 4px;
}

table {
    width: 100%;
}

col.posts-time {
    width: 220px;
}

td.post-time {
    text-align: right;
}
